@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*** Particle Animation ***/
/*** Inspired by Tuts Plus https://codepen.io/tutsplus/pen/MrjYJK ***/
/*** and particles.js ***/

// Color Vars
$sapling: #f9ecd0;
$space: #2d363f;
$cream: #fff9e6;

.circle {
  border-radius: 50%;
  position:absolute;
}
//use a for loop to create a unique keyframe for each element
//then apply randomized styles to them all
@for $i from 1 through 32 {
  @-webkit-keyframes particle-animation-#{$i} {
    0% {
      -webkit-transform:translate3d((random(110) * 1vw), (random(100) * 1vh), (random(400) * 1px)) rotate(random(90) + deg);
      transform:translate3d((random(110) * 1vw), (random(100) * 1vh), (random(400) * 1px)) rotate(random(90) + deg);
    }
    100% {
      -webkit-transform: translate3d((random(110) * 1vw), (random(100) * 1vh), (random(400) * 1px)) rotate(random(180) + deg);
      transform: translate3d((random(110) * 1vw), (random(100) * 1vh), (random(400) * 1px)) rotate(random(180) + deg);
    }
  }
  @keyframes particle-animation-#{$i} {
    0% {
      -webkit-transform:translate3d((random(110) * 1vw), (random(100) * 1vh), (random(110) * 1px)) rotate(random(90) + deg);
      transform:translate3d((random(110) * 1vw), (random(100) * 1vh), (random(400) * 1px)) rotate(random(90) + deg);
    }
    100% {
      -webkit-transform: translate3d((random(110) * 1vw), (random(100) * 1vh), (random(400) * 1px)) rotate(random(180) + deg);
      transform: translate3d((random(110) * 1vw), (random(100) * 1vh), (random(400) * 1px)) rotate(random(180) + deg);
    }
  }

  //fade in and out
  @-webkit-keyframes fade-frames {
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    100% { opacity: 0.5; }
    75% { opacity: 0.25; }
    100% { opacity: 0; }
  }
  @keyframes fade-frames {
    0% { opacity: 0;}
    25% { opacity: 0.25; }
    100% { opacity: 0.5; }
    75% { opacity: 0.25; }
    100% { opacity: 0; }
  }

  //apply keyframes to children of .particles - the circles
  //and make them a random size, color, and delay
  .particles:nth-child(#{$i}) span {
    -webkit-animation: particle-animation-#{$i} 40s ease-in infinite, fade-frames 40s ease-in-out infinite;
    animation: particle-animation-#{$i} 40s ease-in infinite, fade-frames 40s ease-in-out infinite;
    $size: random(100) + 5 + px;
    height: $size;
    width: $size;
    $color: random(255);
    //this will make them all a random shade of greyish
    background-image: url("egg.png");
    background-size: cover;
    -webkit-animation-delay: -$i + s;
    animation-delay: -$i + s;
    //-webkit-transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    //transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
  }
}

/********* End particle Animation Styles ***********/